.lt1-img{
    background-image: url("../assets/swing-calculator-thumbnail.png");
}
.lt2-img{
    background-image: url("../assets/lms-spring-boot-thumbnail.png");
}
.lt3-img{
    background-image: url("../assets/swing-login-thumbnail.png");
}
.lt4-img{
    background-image: url("../assets/html-login-thumbnail.png");
}
.post1-1-img{
    background-image: url("../assets/html-login-thumbnail.png");
}
.post1-2-img{
    background-image: url("../assets/html-calculator-thumbnail.png");
}
.post1-3-img{
    background-image: url("../assets/swing-login-thumbnail.png");
}
.post1-4-img{
    background-image: url("../assets/lms-spring-boot-thumbnail.png");
}
.post1-5-img{
    background-image: url("../assets/swing-calculator-thumbnail.png");
}